* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden; 
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrap {
  position: relative;
  width: 150px; 
  height: 210px;
  transform-style: preserve-3d;
  perspective: 1000px; 
  top: -50px;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  animation: run 30s linear infinite;
  z-index: 2;
}
.card {
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px);
  border: 2px solid red;
  border-radius: 10px;
  overflow: hidden;
}
.card-center {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid gold;
  z-index: 1; 
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 28px;
  width: 100%;
  text-align: center;
}
@keyframes run {
  from {
    transform: rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-15deg) rotateY(-360deg);
  }
}

@media (max-width: 767px) {
  .slider-wrap {
    width: 80px;
    height: 120px;
    top: 0px;
  }
  .card {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px); 
  }
  h1 {
    font-size: 20px;
    bottom: 20%;
  }
}
